<div class="row">
  <section class="col-xs-12">
    <div class="navigation">
      <h1 class="col-xs-9 text-align-left">Dexter</h1>  
      
      <nav class="dropdown col-xs-3">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          <span class="glyphicon glyphicon-menu-hamburger icon-menu" aria-hidden="true"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Serviços</a></li>
          <li><a href="#">Tecnologia</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
    </div>

    <h2 class="text-center">CRIANDO SERVIÇOS E SOLUÇÕES DE INFORMÁTICA PARA O SEU NEGÓCIO</h2>
  </section>
</div>