*{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#footer{
  position: absolute;
  background-color:#333;
  width: 100%;
  height: 80pt;
}


 p{  
  position: absolute;
  margin: 15px 40%;
  color:#fff;
  font-size: 15pt;
}

.contato li a{
  text-decoration: none;
  color:#fff;
}

.contato, li{
  position: relative;
  float: right;
  padding: 4pt;
  list-style: none;
}